<!DOCTYPE html>
<html>
<head>
    <title>Proiect Gastronomie</title>
</head>
<body>
    <h1>Tema proiectului: Gastronomie</h1>
    
    <h2>Brașovence</h2>
    
    <p><strong>Student: Costea Mihai Daniel</strong></p>
    <p><strong>Grupa: 444D</strong></p>
    
    <ul>
        <li>1. <a href="/tara_brasovence">Tara/locul de provenienta</a></li>
        <li>2. <a href="/ingrediente_brasovence">Ingrediente principale</a></li>
        <li>3. <a href="/descriere_brasovence">Modul de preparare (Descriere)</a></li>
    </ul>
</body>
</html>
